# Backend
backend/venv/
backend/__pycache__/
backend/.env

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# General
.DS_Store
*.log
.git/objects/
Docfakereview/
*.zip
Docfakereview/
*.zip
venv/
node_modules/
